.nextBt {
  position: fixed;
  width: 100%;
  height: 66px;
  background-color: #ff9927;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.57px;
  right: 0px;
  left: 0px;
  bottom: 0;
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
}
