.honeyList {
  margin-left: -17px;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 120px;
  padding: 0 22px;
  &.typeColum {
    li {
      width: 32%;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    padding-left: 17px;
    box-sizing: border-box;
  }

  .honeyBox {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      border: 1px solid #dedede;
      border-radius: 10px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .honeyText {
    display: block;
    text-align: center;
    color: #292929;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.28px;
    padding-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
