.RecommendWrap {
  padding: 40px 0 130px;

  .buttonBox {
    display: flex;
    justify-content: space-between;
  }
  .RecommendBox {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 158px;
    height: 66px;
    background-color: rgba(238, 125, 0, 0.09);
    border-radius: 10px;
    padding: 0 15px;
    margin-bottom: 15px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    color: rgba(34, 34, 34, 0.3);

    .RecommendCheck {
      display: none;
    }
  }

  .RecommendBox.checked {
    background-color: #ff9927;
    color: #fff;

    .button {
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }

    .RecommendCheck {
      display: block;
    }
  }
}
