.eating {
  box-shadow: 0px -30px 30px rgba(0, 0, 0, 0.05);

  .wrapHeadBg {
    height: 318px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .eatingArea {
    width: 70%;
  }

  .eatingTitle {
    display: block;
    overflow: hidden;
    color: #222;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.4px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .wrapInfo {
    display: flex;
    padding: 34px 22px 0;
    justify-content: space-between;
  }

  .eatingDesc {
    overflow: hidden;
    padding-top: 5px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.28px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .eatingNum {
    color: #222;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.4px;
  }

  .eatingKal {
    padding-left: 4px;
    color: #9a9a9a;
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.22px;
  }
}
