.startContainer {
    box-sizing: border-box;
    height: 100vh;
    padding: 0 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .startBtnWrap {
        margin-bottom: 32px;

        .actionBtn {
            width: 100%;
            height: 66px;
            border-radius: 12px;
            font-size: 19px;
            font-weight: 700;
            background-color: rgba(255, 153, 39, 0.09);
        }

        .actionBtn:first-child{
            margin-bottom: 13px;
        }

        .on {
            color: #fff;
            background-color: #FF9927;
        }
    }
}